<nav class="navbar navbar-expand-lg" style="background-color: #F95738;">
  <div class="container-fluid ">
    <a class="navbar-brand text-light d-flex" href="#">
          <%= image_tag("comanderlogo.png", class:"img-fluid w-25 h-25", alt: "Sample Image") %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="text-light nav-link" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="text-light nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="text-light nav-link" href="#">Pricing</a>
        </li>
      </ul>
      <a class='btn btn-primary' href="https://www.comander.site">
      Try demo
      </a>
    </div>
  </div>
</nav>

<div class="container-fluid text-center vh-100">
  <div class="row h-100">
    <div class="col-md-6 h-100 d-flex align-items-center justify-content-center">
      <div class='Justify-self-center'>
        <p class='fs-4'>_Comander</p>
        <span class='' style="font-size: 3rem;">The best what to handle your</span>
        <h1 class='fw-bolder' style="color: #F95738; font-size: 4rem;">Restaurant</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati impedit, nesciunt cupiditate assumenda quam repellendus voluptate odit? Quis, sequi culpa veniam aspernatur deleniti distinctio voluptatem, facere velit quisquam et ducimus!</p>
        <a class='btn btn-danger' href=""> Give it a try</a>
      </div>
    </div>
    <div class="col-md-6 h-100 d-flex align-items-center justify-content-center">

<div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag("Comandersample.png", class:"img-fluid rounded-5 p-3 ", alt: "Sample Image") %>
      <div class="carousel-caption d-none d-md-block">
        <h5 class='text-dark'>Digitalize your own restaurant</h5>
        <p class='text-dark'>Create a virtual restaurant that matches the number of your real-life tables.</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag("comanderfull.png", class:"img-fluid rounded-5 p-3 ", alt: "Sample Image") %>
      <div class="carousel-caption d-none d-md-block">
        <h5>Perfect for the rush hour</h5>
        <p>Handle different tables at the same time</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag("Comanderprofits.png", class:"img-fluid rounded-5 p-3 ", alt: "Sample Image") %>
      <div class="carousel-caption d-none d-md-block">
        <h5 class='text-dark'>Finish the day quicker than ever</h5>
        <p>Calculate how much cash-flow you had during the day inside the reports section</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

    </div>
  </div>
</div>

<%# %>
<%#<div class="bg-danger rounded-5 h-75 w-75 d-flex align-items-center">
      <%= image_tag("Comandersample.png", class:"img-fluid rounded-5 p-3 ", alt: "Sample Image") %>

<%#</div> %> %>
